<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID"
    version="3.0">

    <servlet>
        <servlet-name>HousingCreate</servlet-name>
        <servlet-class>SwapHome.Housing.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HousingCreate</servlet-name>
        <url-pattern>/housing/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HousingHome</servlet-name>
        <servlet-class>SwapHome.Housing.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HousingHome</servlet-name>
        <url-pattern>/housing/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>SwapHome.User.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAuth</servlet-name>
        <servlet-class>SwapHome.User.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAuth</servlet-name>
        <url-pattern>/user/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>SwapHome.User.Home.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/user/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserHomeInfo</servlet-name>
        <servlet-class>SwapHome.User.Home.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHomeInfo</servlet-name>
        <url-pattern>/user/home/info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserHomeHousing</servlet-name>
        <servlet-class>SwapHome.User.Home.HousingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserHomeHousing</servlet-name>
        <url-pattern>/user/home/housing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>SwapHome.User.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>Disconnect</servlet-name>
		<servlet-class>SwapHome.User.DisconnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Disconnect</servlet-name>
		<url-pattern>/user/disconnect</url-pattern>
	</servlet-mapping>
	<jsp-config>

	<jsp-property-group>

		<description>Config. de l'encodage des pages JSP</description>

		<url-pattern>*.jsp</url-pattern>

		<page-encoding>UTF-8</page-encoding>

	</jsp-property-group>

</jsp-config>

</web-app>
