/* Custom Stylesheet */

nav .brand-logo {
  color: #fff;
}

.input-card {
  margin:0;
  box-shadow: none;
}

.modal.housing-info .modal-content {
  padding-bottom: 0px;
}
.modal.housing-info .modal-content .collection {
  margin-bottom: 0px;
}
