/* Custom Stylesheet */

/*disable roboto*/
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

nav .brand-logo {
  color: #fff;
}

.input-card {
  margin:0;
  box-shadow: none;
}

.modal.housing-info .modal-content {
  padding-bottom: 0px;
}
.modal.housing-info .modal-content .collection {
  margin-bottom: 0px;
}


.multiple-input-image-viewer {
  position: relative;
  min-height: 100px;
}
.multiple-input-image-viewer .files-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.multiple-input-image-viewer .files-input-label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  height: 100%;
  font-size: 1.5em;
  text-shadow: 0px 0px 50px grey;
  color: rgba(0, 0, 0, 0.70);
}
.center-container {
  display: table;
  width: 100%;
  height: 100%;
}
.center-child {
  display: table-cell;
  vertical-align: middle;
}

fieldset {
  margin: 10px 2px;
}
fieldset.no-padding legend {
  margin-left: 0.35em;
}

.no-padding {
  padding: 0!important;
}
.no-margin {
  margin: 0!important;
}
.col.css3-s4 {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}
.col.css3-s4 > .card {
  display: inline-block;
}
.btn-flat {
  padding: 0px 25px 0px 15px;
}
.btn-flat i.left {
  margin-right:10px;
}
